body {

  font-family: "Segoe UI", sans-serif;
 
}


.login-container {
  width: 100%;

  padding: 35px;
 background-color: #b3b8b8;
  border-radius: 16px;
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); */
  text-align: center;
}

.login-container h2 {
  margin-bottom: 15px;
  font-size: 26px;
  color: #e91a9d;
}

.login-container label {
  display: block;
  text-align: left;
    margin-top: 6px;      
  margin-bottom: 6px;
  font-weight: 600;
}

.login-container input,
.login-container select {
  width: 95%;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1.5px solid #cbd5e1;
  font-size: 15px;
}

.login-container input:focus,
.login-container select:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

.login-container select {
  appearance: none;
  
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 18px;
}

.login-container button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.login-container button:hover {
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.4);
}

.loader-screen {
  position: fixed;
  inset: 0;
  background: #e5e7eb; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-circle {
  width: 60px;
  height: 60px;
  border: 5px solid #cbd5e1;
  border-top: 5px solid #2563eb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-text {
  margin-top: 15px;
  font-size: 16px;
  color: #475569;
  letter-spacing: 1px;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  /* width: 100%; */
  padding-right: 8px;
}

.eye-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

@media (max-width: 1200px) {

  .login-container {
    width: 100%;
    padding: 20px;
    margin: 15px auto;
  }

  .login-container h2 {
    font-size: 22px;
  }

  .login-container input,
  .login-container select {
    width: 95%;
    padding: 12px;
    font-size: 14px;
  }

  .login-container button {
    padding: 12px;
    font-size: 15px;
  }

  .password-wrapper input {
    padding-right: 40px; 
  }

  .eye-icon {
    font-size: 16px;
    right: 10px;
  }


  .loader-text {
    font-size: 14px;
  }
}

.brand-title {
  width: 100%;
  text-align: center;
  font-size: 70px;

  margin-bottom: 20px;
  color: orangered;
  letter-spacing: 1px;
}


@media (max-width: 1200px) {
  .brand-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
}