.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: silver;
  gap: 50px;
  flex-wrap: wrap; 
  padding: 20px;
}


.image-panel img {
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
}

.form-panel {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 350px;
}


.sign-in-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}

form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

form input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.links-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.links-container a {
  font-size: 12px;
  color: #2563eb;
  text-decoration: none;
}

.login-btn {
  width: 20%;
  margin-top: 20px;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    gap: 30px;
  }

  .form-panel {
    width: 100%;
    max-width: 400px;
  }
}
.sign-in-title{
    color:purple;
}